.card-container {
  width: 100%;
  max-width: 750px; /* perfect reading width */
  margin: 0 auto;
}

.card {
  background: #fff;
  color: #000;
  border-radius: 16px;
  padding: 1.25rem;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out, transform 100ms ease-in-out;
}
.card:hover {
  box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.1);
}
.card:active {
  transform: translateY(5px);
  box-shadow: none;
  transition: 100ms;
}


.heroCard {
  background: #fff;
  color: #000;
  border-radius: 16px;
  padding: 1.5rem;
  margin-Bottom: 1.25rem;
}

@media (max-width: 640px) {
  .card-container {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  section[style*="grid"] {
    grid-template-columns: 1fr !important;
  }
}
