.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
}

.bottom-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.bottom-modal ion-icon {
  font-size: 26px;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.bottom-modal ion-icon:hover {
  opacity: 0.7;
}
.bottom-modal ion-icon:active{
  transform: translateY(2px);
  transition: 200ms;
}

.footer-name {
  margin-top: 12px;
  color: white;
  font-size: 0.9rem;
  opacity: 0.8;
}


.icon-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.copy-pill {
  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%) translateY(6px);

  display: flex;
  align-items: center;
  gap: 6px;

  padding: 6px 10px;
  font-size: 0.75rem;

  background: rgb(0, 132, 255);
  color: white;
  border-radius: 999px;

  white-space: nowrap;
  pointer-events: none;

  animation: slideUp 0.4s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(8px);

  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}


.copy-pill ion-icon {
  font-size: 14px;
  color: white;
}
