@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


* {
  box-sizing: border-box;
}

    /* #FF0066 0%,
    #BB004B 100% */

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  min-height: 100vh;
  font-family: "Poppins", system-ui, sans-serif;
  background: linear-gradient(
    135deg,
    #17B486 0%,
    #02546b 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;

}

a {
  color: inherit;
  text-decoration: none;
}


.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.notfound-page {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; /* prevents edge clipping on small screens */
}

.notfound-image {
  max-width: 100%;
  max-height: 80vh;
  height: auto;
  width: auto;
  object-fit: contain;
}
